<!doctype html>

<html>

  <head>
    <title>FastMed - Czas leczy rany</title>
    <meta charset="utf-8" >
    <meta name="description" content="Nie pędź tak proszę, daj odpocząć.">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Vue (out comment one of 2 following) -->
    <!-- development -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- productions -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
    <!-- use Ajax for http requests -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <!-- Allow using cookies -->
    <script src="https://unpkg.com/vue-cookies@1.7.0/vue-cookies.js"></script>
  </head>


  <body>
    <div id="container">
    
      <section v-if="signInAction || signUpAction">
        <div id="shader" v-on:click.prevent="discardLoginData">
        </div>
        <div id="sign-window">
          <form>
            <!-- login -->
            <section v-if="signInAction">
              <h1> Zaloguj się</h1> <br>
            </section>
            <section v-if="signUpAction">
              <h1> Zarejestruj się</h1> <br>
            </section>
            <input v-model="login" placeholder="Login"> <br>
            <input type="password" v-model="password" placeholder="Hasło"> <br>
            <span v-if="loginWindowError" class="form-warning">
              <b>{{loginWindowError}}</b>
            </span>
            <section v-if="signInAction">
              <button v-on:click.prevent="signIn" id="sign-in-button"> Zaloguj</button> <br>
              <b>Nie masz konta? 
              <span class="hyperlink" @click="switchSingWindow"> Zarejestruj się </span> </b> <br>
            </section>
            <section v-if="signUpAction">
              <button v-on:click.prevent="signUp"> Zarejestruj</button> <br>
              <b>Masz już konto? 
              <span class="hyperlink" @click="switchSingWindow"> Zaloguj się</span </b> <br>
            </section>
          </form>
          <button v-on:click.prevent="discardLoginData"> Anuluj</button> <br>

        </div> <!-- div sign-window -->
      </section> <!-- section pop out sign window -->
 
      <nav>
        <div id="nav" >
          <div class="sign-text" v-on:click="signInAction = true" v-if="!isSessionActive">
            <b>Zaloguj się</b>
          </div> &nbsp 
          <div class="sign-text" v-on:click="signUpAction = true" v-if="!isSessionActive">
            <b>Zarejestruj się</b>
          </div> &nbsp 
          <span v-if="isSessionActive">
            <b> Zalogowany jako {{login}} </b> &nbsp | 
          </span> &nbsp
          <div class="sign-text" v-on:click="displayFav" v-if="isSessionActive">
            <b>Ulubione</b>
          </div> &nbsp 
          <div class="sign-text" v-on:click="signOut" v-if="isSessionActive">
            <b>Wyloguj się</b>
          </div> &nbsp 
        </div> <!-- div nav -->
      </nav>
      
      <div style="min-height:55px;width:100%">
        <section v-if="serverError">
          <div class="unavailable-server-massage" > 
            <i class="fa fa-exclamation-circle" style="font-size:25px;color:#b30000"></i> &nbsp
            <b>Wystąpił błąd. Spróbuj później. </b> &nbsp
            <b><span id="close-message-s" v-on:click="serverError = false"> [ OK ]</span></b>
          </div>
        </section>
        
        <section v-if="consoleMessage">
          <div class="console-massage">
           </b> {{consoleMessage}} </b>
          </div>
        </section>
      </div>
      
      <header>
        <div id="logo">
          <img src="img/logo.png" style="border-radius: 10px;">
        </div> <!-- div logo -->
      </header>

      <content>
        <div id="search">
          <form id="serach-form">
            <div id="input-container">
              <div id="search-title">
                Wyszukaj klinikę
              </div> <!-- div search-title -->

              <!-- get region input -->

              <div class="input-wrapper">
                <select v-model='form_default.region' :class="applyInputStyle(region_selected)">
                  <option value="" disabled selected>Województwo *</option>
                  <option v-for="region in regions" v-bind:value="region.value">
                    {{ region.text }}
                  </option>
                </select>
                <br>
              </div> <!-- div input-wrapper -->

              <!-- get case input -->

              <div class="input-wrapper">
                <select id="select-cases" v-model='form_default.r_case' :class="applyInputStyle(case_selected)">
                  <option value="" disabled selected>Przypadek *</option>
                  <option v-for="case_ in r_cases" v-bind:value="case_.value">
                    {{ case_.text }}
                  </option>
                </select>
                <br>
              </div> <!-- div input-wrapper -->
              
              <!-- get region max rows number -->
              
              <div class="input-wrapper">
                <select v-model='form_default.r_number' :class="applyInputStyle(number_selected)">
                  <option value="" disabled selected>Limit rekordów *</option>
                  <option v-for="number in numbers" v-bind:value="number.value">
                    {{ number.text }}
                  </option>
                </select>
                <br>
              </div> <!-- div input-wrapper -->
              
              <!-- get benefit input -->
              
              <div class="input-wrapper">
                <input type="text" v-model='form_default.benefit' placeholder="Benefit (np. fizjoterapia)">
              </div> <!-- div input-wrapper -->
              
              <!-- get location input -->
              
              <div class="input-wrapper">
                <input type="text" v-model='form_default.r_location' placeholder="Miejscowość (np. Kraków)">
              </div> <!-- div input-wrapper -->
              
              <!-- submit input -->
              
              <div class="input-wrapper">
                <button v-on:click.prevent="posts" id="submit">
                  Wyszukaj!
                </button>
                <section v-if="!case_selected || !number_selected || !region_selected">
                  <br>
                  <span class="form-warning"> 
                    Pola oznaczone (*) są wymagane  
                  </span>
                </section>
              </div> <!-- div input-wrapper -->

              <div style="clear:both"> <!-- clear floating elements --> </div>
              <br>
            </div> <!-- div input-container -->
          </form>

          <br>

          <section v-if="r_response" id="table-res">
            <article v-if="data.length != 0">
              <table>
                <tr> <td colspan="5" v-if="isSessionActive && isFavTable"> <b>Ulubione</b> </td> </tr>
                <tr> <td colspan="5" v-if="isSessionActive && !isFavTable"> <b>Wyniki wyszukiwania</b> </td> </tr>
                <tr> <td colspan="4" v-if="!isSessionActive"> <b>Wyniki wyszukiwania</b> </td> </tr>
                <tr>
                  <td> <b>Benefit</b> </td> 
                  <td> <b>Miasto</b>  </td> 
                  <td> <b>Ulica</b>   </td> 
                  <td> <b>Telefon</b> </td>
                  <td v-if="isSessionActive"> <b> Ulubione </b> </td>
                </tr>
                <tr v-for="row in data" >
                  <td> {{row.benefit}}  </td> 
                  <td> {{row.locality}} </td> 
                  <td> {{row.address}}  </td> 
                  <td> {{row.phone}}    </td>
                  <td v-if="isSessionActive">
                    <section v-if="!row.is_fav">
                      <b> <i @click="addToFavourites(row.id)" class="fa fa-star-o"></i> </b> 
                    </section>
                    <section v-else>
                      <b> <i @click="deleteFromFavourites(row.id)" class="fa fa-star"></i> </b> 
                    </section>
                  </td>
                </tr>
              </table>
            </article>
            <article v-else style="font-size:20px; color:white;">
              <section v-if="isFavTable == false">
                <span> 
                  <b> 
                    Nie znaleniono rekordów. Sprawdź kryteria wyszukiwania 
                  </b>
                </span>
              </section>
              <section  v-else>
                <b>
                  Nie masz ulubionych miejsc. Aby dodać ulubione kliknij 
                  <i class="fa fa-star-o"></i>
                  przy wybranym rekordzie
                </b>
              </section>
            </article>
            <br><br><br>
          </section>
        </div> <!-- div search -->
        
      </content>
     
    </div> <!-- div container -->
    <script src="vue_common.js"> </script>
    <footer>
      <div class="footer">
        Strona używa plików Kukiz <br>
        Wszelkie prawa zastrzeżone &copy 2020
      </div>
    </footer>
  
  </body>

</html>
