<!doctype html>

<html>
  
  <head>
    <title>NFZ - Czas leczy rany</title>
    <meta charset="utf-8" >
    <meta name="description" content="NFZ - Czas leczy rany.">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Vue (out comment one of 2 following) -->
    <!-- development -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- productions -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
    <!-- use Ajax for http requests -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <!-- Allow using cookies -->
    <script src="https://unpkg.com/vue-cookies@1.7.0/vue-cookies.js"></script>
    
  </head>


  <body>

    <div id="container">
    
      <section v-if="signInAction || signUpAction">
        <div id="shader">
        </div>
        <div id="sign-window">
            <!-- login -->
            <section v-if="signInAction">
              <h1> Zaloguj się</h1> <br>
            </section>
            <section v-if="signUpAction">
              <h1> Zarejestruj się</h1> <br>
            </section>
            <input v-model="login" placeholder="Login"> <br>
            <input type="password" v-model="password" placeholder="Hasło"> <br>
            <span v-if="loginWindowError" class="form-warning">
                {{loginWindowError}}
            </span>
            <section v-if="signInAction">
              <button v-on:click="signIn"> Zaloguj</button> <br>
            </section>
            <section v-if="signUpAction">
              <button v-on:click="signUp"> Zarejestruj</button> <br>
            </section>
            <button v-on:click="discardLoginData"> Anuluj</button> <br>
           
        </div>
      </section> 
      <nav>
        <div id="nav" >
            <span class="sign-text" v-on:click="signInAction = true" v-if="!isSessionActive">
              <b>Zaloguj się</b>
            </span> &nbsp 
            <span class="sign-text" v-on:click="signUpAction = true" v-if="!isSessionActive">
              <b>Zarejestruj się</b>
            </span> &nbsp 
            <span v-if="isSessionActive">
              <b> Zalogowany jako {{login}} </b>
            </span> &nbsp | 
            <span class="sign-text" v-on:click="signOut" v-if="isSessionActive">
              <b>Wyloguj się</b>
            </span> &nbsp 
        </div> <!-- div nav -->
        
      </nav>
      <header>
        <div id="logo">
          <img src="../img/logo.png">
        </div> <!-- div logo -->
      </header>
      
      <content>
 
        <div id="search">
          <form id="serach-form">
            <div id="input-container">
            <div id="search-title">
              Wyszukaj klinikę
            </div>
            
              <!-- get region input -->
            
              <div class="input-wrapper">
                <select v-model='form_default.region' :class="applyInputStyle(region_selected)">
                   <option value="" disabled selected>Wybierz województwo *</option>
                   <option v-for="region in regions" v-bind:value="region.value">
                     {{ region.text }}
                   </option>
                 </select>
                 <br>
              </div> <!-- div input-wrapper -->
              
              <!-- get case input -->
              
              <div class="input-wrapper">
                <select id="select-cases" v-model='form_default.r_case' :class="applyInputStyle(case_selected)">
                  <option value="" disabled selected>Wybierz przypadek *</option>
                  <option v-for="case_ in r_cases" v-bind:value="case_.value">
                      {{ case_.text }}
                  </option>
                </select>
                <br>
              </div> <!-- div input-wrapper -->
              
              <!-- get region max rows number -->
              
              <div class="input-wrapper">
                <select id="select-cases" v-model='form_default.r_number' :class="applyInputStyle(number_selected)">
                  <option value="" disabled selected>Wybierz ilość rekordów *</option>
                  <option v-for="number in numbers" v-bind:value="number.value">
                      {{ number.text }}
                  </option>
                </select>
                <br>
              </div> <!-- div input-wrapper -->
              
              <!-- get benefit input -->
              
              <div class="input-wrapper">
                <input type="text" v-model='form_default.benefit' placeholder="Benefit (np. fizjoterapia)">
              </div> <!-- div input-wrapper -->
              
              <!-- get location input -->
              
              <div class="input-wrapper">
                <input type="text" v-model='form_default.r_location' placeholder="Miejscowość (np. Kraków)">
              </div> <!-- div input-wrapper -->
              
              <!-- submit input -->
              
              <div class="input-wrapper">
                <button v-on:click.prevent="posts" id="submit">
                  Wyszukaj!
                </button>
                <section v-if="!case_selected || !number_selected || !region_selected">
                  <br>
                  <span class="form-warning"> 
                    Pola oznaczone (*) są wymagane  
                  </span>
                </section>
              </div> <!-- div input-wrapper -->

              <div style="clear:both"> <!-- clear floating elements --> </div>
              <br>
            </div> <!-- div input-container -->
          </form>

          <br>
          <section v-if="serverError">
            <div class="unavailable-server-massage" > 
                <i class="fa fa-exclamation-circle" style="font-size:48px;color:red"></i> <br>
                <b>Wystąpił błąd. Spróbuj później</b> <br> 
                <b>[{{serverErrorInfo}}]</b> <br> <br>
                <b><span id="close-message-s" v-on:click="serverError = false">[ Zamknij ]</span></b>
            </div>
          </section>
          <section v-if="r_response" id="table-res">
            
            <section v-if="data.length != 0">
                <table>
                    <tr>
                      <td> <b>Benefit</b> </td> 
                      <td> <b>Miasto</b>  </td> 
                      <td> <b>Ulica</b>   </td> 
                      <td> <b>Telefon</b> </td>
                    </tr>
                    <tr v-for="row in data">
                      <td> {{row.benefit}}  </td> 
                      <td> {{row.locality}} </td> 
                      <td> {{row.address}}  </td> 
                      <td> {{row.phone}}    </td>
                    </tr>
                </table>
              </section>
              <section v-if="data.length == 0">
                <span style="font-size:20px"> 
                  Nie znaleniono rekordów. Sprawdź kryteria wyszukiwania 
                </span>
              </section>
              <br><br><br>
          </section>
        </div> <!-- div search -->
        
      </content>
     
    </div> <!-- div container -->
    <script src="vue_common.js"> </script>
    <footer>
        <div class="footer">
            Ta strona używa plików Kukiz <br>
            Wszelkie prawa zastrzeżone &copy 2020
        </div>
    </footer>
  
  </body>

</html>
