body {
    margin: 0;
    background-color: #cce6ff;
}

#search {
    width:100%;
    text-align: center;
    margin: 0;
}

#input-container {
    max-width: 60%;
    margin: 0 auto;
    text-align:center;
    background-color: white;
    border-radius: 10px;
    min-width: 315px;
    max-width: 950px;
}

#search-title {
    font-size: 25px;
    padding: 10px 0;
}

.input-wrapper {
    float: left;
    display: inline-block;
    margin: 5px auto;
}

#container {
    width: 100%;
    
}

#logo {
    width: 70%;
    margin: 20px auto;
}

#logo img{
    width: 100%;
}

#search button {
    text-align: center;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    height: 36px;
    width: 304px;
}

#search input {
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin: 5px;
}

.no-input-warning {
    height: 36px;
    width: 304px;
    color:balck;
    font-size: 20px;
    margin:  5px;
    border-color: red;
}

.good-input-ok {
    height: 36px;
    width: 304px;
    font-size: 20px;
    margin:  5px;
    color: black;
}

.form-warning {
    color:red;
}

#table-res table {
    text-align:center;
    margin: 10px auto;
    border-spacing: 5px 5px; 
}

#table-res table td {
    max-width: 250px;
    background-color: white;
    padding: 5px;
}

.unavailable-server-massage {
    width: 400px;
    padding: 15px;
    background-color: white;
    border: 3px solid red;
    color: red;
    border-radius: 24px;
    margin: 20px auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #232323;
    color: white;
    padding: 0 10px;
    font-size: 15px;
    text-align: center;
}

#close-message-s:hover {
    text-decoration:underline;
    cursor: pointer;
}
